/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-emperora-prediction-league input[type="text"] {
	font-size: 1em;
	color: black;
	background: inherit;
	border: 0;
}
